beautifulsoup4==4.13.4
langdetect>=1.0.9
accelerate>=1.4.0
datasets>=3.3.0
peft>=0.14.0
python-dateutil==2.9.0.post0
six==1.17.0
soupsieve==2.7
torch>=2.6.0
transformers>=4.48.0
trl>=0.15.0
typing_extensions==4.14.1
